
#ClockContainer{
    position: relative;
    margin:auto;
    
    background: url(clock.png) no-repeat;
    background-size: 100%;
    height:45vw;
    width:45vw;
   
}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
 #hour{
    
    height:30%;
    width:1%;
    top:19%;
    left:49.25%;
    opacity: 0.8;
} 
#minute{
    height:41%;
    width:1%;
    top:10%;
    left:49.25%;
    opacity: 0.8;
    
    
}
#second{
    height:37%;
    width:1%;
    top:13%;
    left:49.25%;
    opacity: 0.6;
   
} 